{% extends 'CloudCloudspacesBundle::mobile_base.html.twig' %}

{% block header %}
{% endblock %}
{% block page %}
{#<div data-role="none" id="main">#}
{% endblock %}

{% block content %}
    <div>
        <a data-ajax="false" href="{{ path('cloud_listado_container',{'path': path }) }} ">{% trans %}Go back{% endtrans %}</a>
    </div>

{% endblock %}
